.card-chat {
  width: 40vw;
  color: black;
}
.chat-but {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;
}
.chat-svg {
  width: 40px;
  height: 40px;
}
