.forReact {
  background-image: url("../img/bulletin.jpg");
}
.bulletin {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}
.activity {
  height: 80vh;
  width: 40%;
  margin: 10vh 0 0 0;
  border: 1px solid black;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: yellow;
}
.services {
  height: 80vh;
  width: 40%;
  margin: 10vh 0 0 0;

  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: greenyellow;
}
.dates {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 0 0 5% 0;
}
.activitytext {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.servicestext {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
