.home1 {
  background-image: url("../img/FSNUAQ.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 90vh;
  width: auto;
  color: white;
  margin: 1%;
}
