.home1 {
  /* background-image: url("../img/Armed_Forces.png"); */
  background-image: center no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80vh;
  width: 100vw;
  /* margin: 1%; */
}
.home2 {
  height: 100vh;
  width: auto;
}
