/* .journal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch; */
/* } */

.storybox {
  border: solid black 1px;
  border-style: inset;
  width: 50vw;
  background-color: white;
  contain: content;
}
.storytitle {
  margin: 0 0 0 10%;
}
.storybody {
  height: 20vh;
  width: 50vh;
  margin: 0 0 0 2%;
}
.storybutton {
  margin: 0 0 3% 13%;
}
.overallJournal {
  background-image: url("../img/salute2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: center;
}
@media (max-width: 600px) {
  .storytitle {
    margin: 0 0 0 180px;
    background-color: yellow;
  }
  .storybody {
    margin: 0 0 0 55px;
    background-color: yellow;
  }
  .storybutton {
    margin: 0 0 0 230px;
  }
}
