.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.firstpage {
  background-image: url("./img/SuicidePrevention-Insert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 99.5vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.firstbutton {
  /* margin: 10vh; */
}
.everyone {
  height: 100vh;
  width: 100%;
  padding: 0 0 0 1%;
}
.buddy {
  margin: 0 0 30%;
  font-size: 20vh;
  color: white;
  font-family: "Cinzel", serif;
}
.authuserspage {
  height: 100vh;
  width: 100%;
  padding: 0 0 0 1%;
  background-image: url("http://i1241.photobucket.com/albums/gg516/marmelisms/11FreeDontQuitPoemPosterCardBookmark.jpg");
  background-repeat: no-repeat;
}
.chat {
  height: 98vh;
  width: 99%;
  padding: 1% 0 0% 1%;
  background-image: url("./img/kevlar.jpg");
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  cursor: pointer;
}
.messages {
  height: 60vh;
  width: 80%;
  border: 1px black solid;
  padding: 0 0 0 1%;
  z-index: 100;
  background-color: white;
  padding: 5px 0 0 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
a:hover {
  color: black;
  cursor: pointer;
}
.auth0 {
  height: 10vh;
  width: 8%;
  text-align: center;
  border: solid black 1px;
  justify-content: center;
  align-content: center;
  padding: 2% 0 0.5% 0;
}
.checkout {
  border-style: inset;
  border-color: gray;
  width: 5%;
  margin: 0 0 0 1%;
}
.overall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}
/* .cluster {
  height: 95vh;
} */
.newUser {
  height: 100vh;
  background-image: url("./img/firemancarry.jpg");
  background-repeat: no-repeat;
  background-size: 50vh;
  width: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 2vh;
  justify-content: flex-end;
  cursor: pointer;
}
.textMessages {
  height: 100vh;
  width: 100%;
  border-style: inset;
  border-color: gray;
  width: 5%;
  margin: 0 0 0 1%;
}
@media (max-width: 600px) {
  .messages {
    height: 40vh;
    width: 80%;
    cursor: none;
    background-color: yellow;
    margin: 80px 0 0 80px;
  }
}
@media (max-width: 600px) {
  .card-footer {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 600px) {
  .overall {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 0vw;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
